API_ID=
API_HASH=
STRING_SESSION=
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority
DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=deepseek-chat
DB_NAME=girl_chatbot
PERSONA_NAME=Cherry 
REPLY_DELAY=3
HISTORY_LIMIT=20
MEMORY_DAYS=90
MAX_TOKENS=120
